<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.board.mapper.BoardMapper">
  <select id="boardList" resultType="board">
    SELECT RN,
           BOARD_NO,
           TITLE,
           CONTENT,
           WRITER,
           VIEW_CNT,
           CREATE_DATE
    FROM   (SELECT /*+ INDEX(B BOARD_PK) */ ROWNUM RN, B.* 
            FROM TBL_BOARD B
            <where>
            <!-- 조건문 -->
            <choose>
            	<when test="searchCondition == 'T'.toString()">
            		title like '%'||#{keyword}||'%'
            	</when>
            	<when test="searchCondition == 'W'.toString()">
            		writer like '%'||#{keyword}||'%'
            	</when>
            	<when test="searchCondition == 'TW'.toString()">
            		(title like '%'||#{keyword}||'%' or writer like '%'||#{keyword}||'%')
            	</when>
            </choose>
            <![CDATA[
            AND ROWNUM <= (#{page} * 5) 
            ]]>
            </where>
            ) A
    WHERE   A.RN > (#{page} - 1) * 5
  </select>
</mapper>